doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style(type='text/css').
          p {
               display: none;
            }	
  body
    block content
